#signInContainer{
    font-family:monospace; 
    background-color: #110824;
    color: aliceblue;
}

#imageContainer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8968d0;
    color: aliceblue;
}

#formContainer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #322058; */
    color: aliceblue;
}

#usernameInput, #emailInput, #passwordInput{
    background-color: #110824 ;
    color: aliceblue;
}

#gButton{
    background-color: #006992;
    color: aliceblue;
}

#signInScreen{
    background-color: #211142;
}