body {
  --bs-body-bg: #211142;
  --bs-body-color: white;
  --bs-primary: #006992;
  --bs-danger: #EF476F;
}

h1,
h2 {
  color: #0496FF;
}

h3,
h4,
h5,
h6 {
  color: white;
}

.card {
  background-color: #110824;
}

input.form-control,
input.form-control:active,
input.form-control:focus {
  background-color: #110824;
  color: white;
}

.btn-primary {
  --bs-btn-bg: #006992;
  --bs-btn-border-color: #006992;
  --bs-btn-hover-bg: #005a7e;
  --bs-btn-hover-border-color: #005a7e;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005a7e;
  --bs-btn-active-border-color: #005a7e;
}

.modal-body {
  background-color: var(--bs-body-bg);
  color: aliceblue;
}

.modal-footer {
  background-color: var(--bs-body-bg);
  color: #0496FF;
}

.modal-header {
  background-color: var(--bs-body-bg);
  color: #0496FF;
}

.form-control {
  background-color: var(--background-color);
  color: aliceblue;
}

.btn-close {
  background-color: #EF476F;
}

.user-form-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
}